 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/header/headerworkshop.jpg');
  background-position: 50% 54.47%;
  min-height: 640px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1240px;
  margin: 40px 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 600px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 36px 30px 30px;
}

.u-section-1 .u-text-1 {
  line-height: 1;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Alatsi;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-family: Alatsi;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 383px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 455px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2)  + 670px);
    margin-top: 498px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 100%;
    margin-top: 94px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 700px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 700px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 704px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 73px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-family: Alatsi;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-gallery-1 {
  height: 601px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}
.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-4 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-5 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-back-slide-6 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-6 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 60px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: -1px;
    margin-right: -1px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-gallery-1 {
    height: 462px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 45px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 5px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-gallery-1 {
    height: 312px;
  }
}

.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 539px;
}

.u-section-3 .u-text-1 {
  font-family: Alatsi;
  font-weight: 700;
  font-size: 3.75rem;
  width: 600px;
  margin: 20px auto 0;
}

.u-section-3 .u-tabs-1 {
  min-height: 413px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-3 .u-tab-link-1 {
  background-image: none;
  font-family: Alatsi;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-2 {
  background-image: none;
  font-family: Alatsi;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-3 {
  background-image: none;
  font-family: Alatsi;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-4 {
  background-image: none;
  font-family: Alatsi;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-5 {
  background-image: none;
  font-family: Alatsi;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  padding: 10px 25px;
}

.u-section-3 .u-tab-link-6 {
  background-image: none;
  font-family: Alatsi;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 500px;
  height: 300px;
  object-position: 82.44% 50%;
  margin: 20px auto 0 10px;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Alatsi;
  margin: -300px 20px 0 520px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  margin: 10px 20px 0 520px;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Alatsi;
  margin: 20px 10px 0 520px;
}

.u-section-3 .u-image-2 {
  width: 500px;
  height: 300px;
  object-position: 82.44% 50%;
  margin: -54px auto 0 10px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  margin: -236px 10px 0 520px;
}

.u-section-3 .u-tab-pane-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 500px;
  height: 300px;
  object-position: 82.44% 97.35%;
  margin: 20px auto 0 10px;
}

.u-section-3 .u-text-6 {
  line-height: 1.8;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Alatsi;
  margin: -300px 10px 0 520px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  margin: 10px 10px 0 520px;
}

.u-section-3 .u-tab-pane-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-image-4 {
  width: 500px;
  height: 300px;
  object-position: 82.44% 50%;
  margin: 20px auto 0 10px;
}

.u-section-3 .u-text-8 {
  line-height: 1.8;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Alatsi;
  margin: -300px 10px 0 520px;
}

.u-section-3 .u-text-9 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  margin: 10px 10px 0 520px;
}

.u-section-3 .u-tab-pane-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-image-5 {
  width: 500px;
  height: 300px;
  object-position: 82.44% 50%;
  margin: 20px auto 0 10px;
}

.u-section-3 .u-text-10 {
  line-height: 1.8;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Alatsi;
  margin: -300px 10px 0 520px;
}

.u-section-3 .u-text-11 {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  margin: 10px 10px 0 520px;
}

.u-section-3 .u-tab-pane-6 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 0 3px;
}

.u-section-3 .u-image-6 {
  width: 500px;
  height: 300px;
  object-position: 82.44% 50%;
  margin: 20px auto 0 10px;
}

.u-section-3 .u-text-12 {
  line-height: 1.8;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Alatsi;
  margin: -300px 10px 0 520px;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  margin: 11px 10px 0 520px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 474px;
  }

  .u-section-3 .u-image-1 {
    width: 450px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 10px;
    margin-left: 470px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 10px;
    margin-left: 470px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 470px;
  }

  .u-section-3 .u-image-2 {
    width: 450px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 470px;
  }

  .u-section-3 .u-image-3 {
    width: 450px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 470px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 470px;
  }

  .u-section-3 .u-image-4 {
    width: 450px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 470px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 470px;
  }

  .u-section-3 .u-image-5 {
    width: 450px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.25rem;
    width: auto;
    margin-left: 470px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-left: 470px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 3px;
  }

  .u-section-3 .u-image-6 {
    width: 450px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-left: 470px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 674px;
  }

  .u-section-3 .u-tab-link-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-tab-link-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-tab-link-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-tab-link-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-tab-link-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-tab-link-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 700px;
    margin-top: 0;
    margin-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 10px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 330px;
    margin-left: 10px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -364px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 74px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 10px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 10px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 10px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 10px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-6 {
    margin-top: 23px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 10px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: 540px;
  }

  .u-section-3 .u-tab-link-1 {
    font-size: 0.875rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-tab-link-2 {
    font-size: 0.875rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-tab-link-3 {
    font-size: 0.875rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-tab-link-4 {
    font-size: 0.875rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-tab-link-5 {
    font-size: 0.875rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-tab-link-6 {
    font-size: 0.875rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-image-1 {
    width: 520px;
    margin-top: 20px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-top: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 331px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -365px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
    margin-top: 75px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1rem;
    margin-top: 9px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    font-size: 1rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: 21px;
  }

  .u-section-3 .u-tabs-1 {
    min-height: 492px;
    margin-top: 19px;
    margin-bottom: 21px;
  }

  .u-section-3 .u-tab-link-1 {
    font-size: 0.625rem;
    letter-spacing: -1px;
  }

  .u-section-3 .u-tab-link-2 {
    font-size: 0.625rem;
    letter-spacing: -1px;
  }

  .u-section-3 .u-tab-link-3 {
    font-size: 0.625rem;
    letter-spacing: -1px;
  }

  .u-section-3 .u-tab-link-4 {
    font-size: 0.625rem;
    letter-spacing: -1px;
  }

  .u-section-3 .u-tab-link-5 {
    font-size: 0.625rem;
    letter-spacing: -1px;
  }

  .u-section-3 .u-tab-link-6 {
    font-size: 0.625rem;
    letter-spacing: -1px;
  }

  .u-section-3 .u-image-1 {
    height: 145px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 16px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 257px;
  }

  .u-section-3 .u-image-2 {
    height: 227px;
    margin-top: -290px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-5 {
    margin-top: 72px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 227px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 11px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 9px;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 227px;
    margin-left: 0;
  }

  .u-section-3 .u-image-5 {
    width: 340px;
    height: 227px;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.25rem;
    margin-right: 10px;
  }

  .u-section-3 .u-text-11 {
    font-size: 0.875rem;
    margin-right: 10px;
  }

  .u-section-3 .u-image-6 {
    width: 340px;
    height: 227px;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-top: 20px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 10px;
  }
}