 .u-section-1 {
  background-image: url("images/header/headerserve.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 365px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 250px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 835px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Alatsi;
  line-height: 1.4;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0 570px;
}

.u-section-2 .u-image-1 {
  width: 550px;
  height: 300px;
  margin: -32px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: -248px 0 0 570px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 154px 570px 0 0;
}

.u-section-2 .u-image-2 {
  width: 550px;
  height: 300px;
  object-position: 50% 37%;
  margin: -32px auto 0 590px;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  margin: -248px 570px 60px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 470px;
  }

  .u-section-2 .u-image-1 {
    width: 450px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 470px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 125px;
    margin-right: 490px;
  }

  .u-section-2 .u-image-2 {
    width: 450px;
    margin-right: -10px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 470px;
    margin-bottom: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1389px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 440px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    height: 400px;
    margin-top: -452px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 72px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 440px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 400px;
    margin-top: -452px;
    width: 100%;
  }

  .u-section-2 .u-text-5 {
    margin-top: 72px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1434px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 426px;
    margin-left: -20px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -445px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-top: 65px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 454px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -459px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 78px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1602px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 440px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -497px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-top: 117px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 440px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 690px;
}

.u-section-3 .u-image-1 {
  width: 550px;
  height: 300px;
  object-position: 50% 80.09%;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -300px 0 0 570px;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0 570px;
}

.u-section-3 .u-image-2 {
  width: 550px;
  height: 300px;
  object-position: 50% 44%;
  margin: 170px 0 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -300px 570px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 20px 570px 140px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-3 .u-image-1 {
    width: 450px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 470px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 470px;
  }

  .u-section-3 .u-image-2 {
    width: 450px;
    margin-top: 119px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 490px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 490px;
    margin-bottom: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1203px;
  }

  .u-section-3 .u-image-1 {
    height: 400px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    height: 400px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 545px;
  }
}